<div class="col-md-6 col-md-offset-3 text-center">


<?php if ($data["auth"] == false): ?>
    
<form  class="form-inline" action="#"" method="post">
    <div class="form-group">
        <label for="pass">Password:</label>
        <input type="password" class="form-control" id="pass" name="pass">
    </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

<?php else: ?>
<h4>Draft Teams</h4>
<form  class="form-inline" action="#"" method="post">
    <div class="form-group">
        <select class="form-control" name="tournament_id">
            <option value="" selected disabled >Select Tournament:</option>
            <?php foreach(App\Models\Tournament::findAll() as $tournament): ?>
            <option value="<?=$tournament->id?>"><?=$tournament->name?></option>
            <?php endforeach; ?>
        </select>
    </div>
    <button type="submit" class="btn btn-default">Get Teams</button>
</form>

<?php if(isset($data["teams"])): ?>
    <h4><?= $data["tournament"]->name ?></h4>
    <?php foreach($data["teams"] as $team): ?>
    <?= $team->name ?>:</br>
    <?php if(empty($team->getGolfers())): ?>
    No Golfers
    <?php endif; ?>
    <ul class="list-group">
        <?php foreach($team->getGolfers() as $golfer): ?>
        <li class="list-group-item"><?= $golfer->name ?></li>
        <?php endforeach; ?>
    </ul>
    <form  class="form-inline" action="#"" method="post">
        <div class="form-group">
            <input type="text" class="form-control" name="golfer" placeholder="Golfer's Name">
            <input type="hidden" class="form-control" name="team_id" value="<?= $team->id ?>">
        </div>
      <button type="submit" class="btn btn-default">Draft</button>
    </form>

    <hr>
    <?php endforeach; ?>

    <?php if(empty($data["teams"])): ?>
    No Teams
    <?php endif; ?>
<?php endif; ?>

<?php endif; ?>

<?php if ($data["admin"] == true): ?>
<hr>
<h3>Admin Panel</h3>
<h4>Add Team</h4>
<form  class="form-inline" action="#"" method="post">
    <div class="form-group">
    <select class="form-control" name="tournament_id">
        <option value="" selected disabled hidden>Select Tournament:</option>
        <?php foreach(App\Models\Tournament::findAll() as $tournament): ?>
        <option value="<?=$tournament->id?>"><?=$tournament->name?></option>
        <?php endforeach; ?>
    </select>
    <div class="form-group">
        <input type="text" class="form-control" name="team_name" placeholder="Team's Name">
    </div>
  <button type="submit" class="btn btn-default">Add</button>
</form>
<h4>Add Tournament</h4>
<form  class="form-inline" action="#"" method="post">
    <div class="form-group">
        <input type="url" class="form-control" name="tournament_url" placeholder="Tournament URL">
    </div>
  <button type="submit" class="btn btn-default">Add</button>
</form>

<?php endif; ?>


