<!-- <h2><?= $data["tournament"]->getName() ?></h2>
<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <td></td>
            <td><p class="text-right">Thru</p></td>
            <td><p class="text-right">Round 1</p></td>
            <td><p class="text-right">Round 2</p></td>
            <td><p class="text-right">Round 3</p></td>
            <td><p class="text-right">Round 4</p></td>
            <td><p class="text-right">Total</p></td>
        </tr>
    </thead>
    <?php foreach ($data["tournament"]->getTeams() as $team): ?>
        <tbody>
            <tr class="success">
                <td><?= $team->getName() ?> (<?= $team->getScore() ?>)</td>
                <td></td
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <?php foreach ($team->getGolfers() as $golfer): ?>
            <tr>
                <td><p class="text-left"><?= $golfer->getName() ?></p></td>
                <td><p class="text-right"><?= $golfer->getThru() ?></p></td>
                <?php foreach ($golfer->getRounds() as $round): ?>
                <td><p class="text-right"><?= $round ?></p></td>
                <?php endforeach; ?>
                <td><p class="text-right"><?= $golfer->getTotal() ?></p></td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    <?php endforeach; ?>
</table>
 -->