
<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <td></td>
            <td><p class="text-right">Thru</p></td>
            <td><p class="text-right">Round 1</p></td>
            <td><p class="text-right">Round 2</p></td>
            <td><p class="text-right">Round 3</p></td>
            <td><p class="text-right">Round 4</p></td>
            <td><p class="text-right">Total</p></td>
        </tr>
    </thead>
    <?php foreach ($data["teams"] as $team): ?>
        <tbody>
            <tr>
                <td><?= $team->getName() ?> (<?= $team->getScore() ?>)</td>
                <td></td
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <!-- PRIMARY PLAYERS -->
            <?php foreach ($team->getPrimaryGolfers() as $primary): ?>
            <tr class="success">
                <td><p class="text-left"><?= $primary->getName() ?></p></td>
                <td><p class="text-right"><?= $primary->getThru() ?></p></td>
                <?php foreach ($primary->getRounds() as $round): ?>
                <td><p class="text-right"><?= $round ?></p></td>
                <?php endforeach; ?>
                <td><p class="text-right"><?= $primary->getTotal() ?></p></td>
            </tr>
            <?php endforeach; ?>
            <!-- DRAFTED PLAYERS -->
            <?php foreach ($team->getDraftedGolfers() as $drafted): ?>
            <tr class="info">
                <td><p class="text-left"><?= $drafted->getName() ?></p></td>
                <td><p class="text-right"><?= $drafted->getThru() ?></p></td>
                <?php foreach ($drafted->getRounds() as $round): ?>
                <td><p class="text-right"><?= $round ?></p></td>
                <?php endforeach; ?>
                <td><p class="text-right"><?= $drafted->getTotal() ?></p></td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    <?php endforeach; ?>
</table>
